.incept{
    text-align: center;
  background: white;
  min-height: 1000vh;
}


.banner2  {
    position: relative;
    width: 100%;
    height: 130vh;
    /* background: url("../back3.jpg"); */
    background:  linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url('../../assets/try2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: circle(250vh at 35% -150vh); */
  }
  
  
.incept-jkoscLogo{
    margin-top: -2%;
    width: 22.5vw;
    justify-self: center;
}


.incept-text{
    display: inline-grid;
    color: #d6d6d6;
    margin-top: -5%;
}

.incept-heading{
    font-size: 60px;
    font-weight: 600;
}

.incept-para{
    font-size:30px;
    font-weight: 500;
} 

.incept-container{
    margin-top:5%;
}

.syllabus-head{
    color:#262623;
    font-size: 45px;
    font-weight: 500;
    text-decoration: underline;
    padding-bottom: 1.5%;
}

.stream-name{
    color: #354497;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
    padding-bottom: 1%;
}

#syllabus {
    text-align: center;
    margin: 3px;
  }

.stream-button{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.stream-select{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.streamButton-selected{
    /* background-color: #8eccc0 !important; */
    background-color: #3f51b5 !important;
    color: white !important;
    border: solid black 10px !important;
    border-radius: 90px !important;
    transition: 0.5s !important;
}

.streamButton-deselected{
    background-color: gainsboro !important;
    color: #262623 !important;
    border: solid black 10px !important;
    border-radius: 20px !important;
    transition: 0.5s !important;
}
  

.MuiButtonGroup-grouped, .MuiButtonGroup-root{
    display: flex !important;
    justify-content: center;
    padding-bottom: 9px !important;
    min-width:120px !important;
}

.MuiButtonGroup-groupedContained{
    /* width: 10% !important; */
    border: none !important;
}