.semester-content {
  padding-top: 13px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 5px;
  width: 100%;
  justify-content: center;
}

.Scollbars {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  
  border-radius: 8px;
  /* max-height: 1000px; */
}

.papers-content {
  padding-top: 2%;
  padding-bottom: 2%;
}

.units-content {
  padding-top: 1%;
  text-align: left;
}

.reference-heading {
  padding-top: 1%;
  text-align: left;
  color: #17283a;
  font-size: 23px;
  font-weight: 500;
}

.reference-content {
  color: #2c3c4c;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  padding-top: 0.7%;
}

.syllabus-heading1 {
  font-size: 40px;
  font-weight: 600;
  color: #262623;
}

.syllabus-heading2 {
  font-size: 30px;
  font-weight: 400;
  color: #2c3c4c;
}

.syllabus-heading3 {
  font-size: 22px;
  font-weight: 400;
  /* color: #465dbe; */
  color: #e95355;
  padding-bottom: 0.3%;
  padding-top: 0.05%;
}

.syllabus-heading4 {
  font-size: 20px;
  font-weight: 450;
  /* color: #465dbe; */
  color: #34495e;
  padding-bottom: 1.5%;
}

.syllabus-heading5 {
  font-size: 17px;
  font-weight: 380;
  /* color: #465dbe; */
  color: #405060;
  padding-bottom: 0.3%;
}
