.about{
    text-align: center;
  background: white;
  min-height: 1000vh;
}


.banner4  {
    position: relative;
    width: 100%;
    height: 130vh;
    /* background: url("../back3.jpg"); */
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('../../assets/try42.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: circle(250vh at 35% -150vh); */
  }
  
  
.about-jkoscLogo{
    /* margin-top: -2%; */
    width: 19vw;
    justify-self: right;
}

.about-banner-text{
    width:90%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25%;
    /* border: red 10px solid; */
}

.about-text{
    margin-top:2.5%;
    display: inline-grid;
    color: #d6d6d6;
    /* border: blue 6px solid; */
    margin-right: 0.7%;
    margin-left:0.7%;
    /* margin-top: -5%; */
}

.about-heading{
    font-size: 60px;
    font-weight: 600;
}

.about-para{
    font-size:30px;
    font-weight: 500;
}


.dveloper-outer{
    display: flex;
    flex-direction: column;
    margin:5%;
    /* border:2px solid red; */

}

.developer-inner{
    display: flex;
    flex-direction: row;
    /* border:2px solid black; */
    justify-content: space-around;
    padding-bottom: 8%;
    
}

.developer-profile-left{
    display: flex;
    flex-direction: row;
    
    /* padding-bottom: 5%; */
    /* padding:10%; */
    width: -webkit-fill-available;
    /* border-right: 1px solid black; */
    border-left: 1px solid black;
    height:13vw;
    /* justify-content: center; */
    /* margin-bottom: 5%; */
    
}

.developer-profile-right{
    display: flex;
    flex-direction: row;
    
    /* padding-bottom: 5%; */
    /* padding:10%; */
    width: -webkit-fill-available;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height:13vw;
    justify-content: end;
    padding-right: 3%;
    /* margin-bottom: 5%; */
    
}

/* .developer-img{
    text-align: center;
    align-self: center;
    margin-left: 4%;
    margin-right: 4%;
} */

.profile-pic-circle{
    width: fit-content;
    width:30%;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    margin-left: 3%;
    margin-right: 3%;
    padding:2%;
    opacity:0.85;
}

.developer-details{
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.developer-follow{
    display: flex;
    flex-direction: row;
}

.follow-on-text{
    align-self: center;
    font-family: "Poppins", sans-serif;
    padding: 2% 4% !important;
    font-size: 83%;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 500 !important;
    line-height: 1.75 !important;
    border-radius: 4px !important;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: #7ea0b7 !important;
    color: white !important;
    border-color: transparent !important;
    border-radius: 90px !important;
    transition: 0.5s !important;
    margin-bottom: 2%;
    margin-top:4% !important;
    /* float:right !important; */
    width: fit-content;
}

.developer-name{
    font-size: 190%;
    font-weight: 600;
    color:#051424;
}

.developer-about{
    font-size: 110%;
    font-weight: 400;
    color:#36494e;
}

.developer-follow{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.platform-link{
    margin-left:5%;
    margin-right: 5%;
}

.team-quote-top{
    font-size: 30px;
    font-weight: 300;
    padding-bottom:2%;
    border-bottom: black 5px solid;
    width:70%;
    align-self: center;
    border-radius:40%;
    /* width:80%; */
    text-align: center;
}

.team-members{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.meet-with-Team{
    margin-top:4%;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 1%;
}

.team-quote{
    font-size: 20px;
    font-weight: 400;
    color:#36494e;
    margin-bottom: 1%;
}