@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
  }
  
  .header.sticky {
    padding: 8px 100px !important;
    background: white;
  }

  .header.black{
    padding: 10px 100px !important;
    background: #262623;
  }
  
  .header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    /* background: url("./favicon.png"); */
    /* background-size: cover; */
    width: 80px;
    height: 80px;
  }
  
  .image {
    width: 80px;
    background-blend-mode: soft-light !important;
  }

  .image1{
    opacity:0%;
    width: 80px;
    background-blend-mode: soft-light !important;
  }

  .image2{
    width: 60%;
    background-blend-mode: soft-light !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header ul li {
    position: relative;
    list-style: none;
  }
  
  .header ul li a {
    position: relative;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }

  .header.sticky .logo {
    color: black;
  }
  
  .header.sticky ul li a {
    color: black;
  }

  .header.black .logo{
    color : white;
  }
   .header.black ul li a{
     color: white;
   }