.bottom-box{
    position: absolute;
    /* color: white; */
    /* border: 5px solid red; */
    width: 100%;
    height:50rem;
    bottom: -1px;
    transform: rotate(180deg);
    left:0;
    line-height: 0;
    overflow: hidden;
    box-sizing: inherit;

}


.bottom-design{
    display: block;
    left:50%;
    position:relative;
    transform: translateX(-50%);
    width: calc (100% + 1.3px);
    /* overflow: hidden; */
}

.curve-design{
    fill: #fff;
    transform: rotateY(180deg);
    transform-origin: center center 0;
}