.home{
    text-align: center;
  background: #dd0e04;
  min-height: 1000vh;
}


.banner {
    position: relative;
    width: 100%;
    height: 120vh;
    background: url("../../assets/try3.jpg");
    /* background: url('./back3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(250vh at 35% -150vh);
  }
  
  
  .wrapper {
    display: inline-flex;
    align-items: center;
    /* border: 5px solid black; */
  }
  .wrapper .static-txt {
    color: black;
    font-size: 60px;
    font-weight: 500;
  }
  .wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    /* line-height: 90px; */
    overflow: hidden;
  }
  .dynamic-txts li {
    list-style: none;
    color: white;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    text-align-last: start;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #dd0e04;
    border-left: 2px solid white;
    animation: typing 3s steps(15) infinite;
  }
  @keyframes typing {
    40%,
    60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
  